<html style="background-color: #575757;">
	<head>
		<title>OpenTreat</title>
		<meta charset="UTF-8" />
		<link href="/styles.css" rel="stylesheet" />
	</head>
	<body>
		<br><br><br><br><br><br><br><br>
		<center>
			<a href="/view" id="view" style="color: white; text-decoration: none;">view live video</a>
			<br>
			<br>
			<a href="/broadcast" id="broadcast" style="color: white; text-decoration: none;">broadcast video</a>
		</center>
	</body>
</html>