<html>
<head>
	<title>OpenTreat</title>
	<meta charset="UTF-8" />
	<link href="/styles.css" rel="stylesheet" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-icon-114x114-precomposed.png" />
</head>
<body>
	<div class="container">
		<div class="center">
			<a href="/view" id="view" style="color: white; text-decoration: none; font-size: 70px;">view video stream</a>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<a href="/broadcast" id="broadcast" style="color: black; text-decoration: none; font-size: 70px;">configure broadcast</a>
		</div>
	</div>
</body>
</html>