<html class="bgGradient">
<head>
	<title>OpenTreat</title>
	<meta charset="UTF-8" />
	<link href="/styles.css" rel="stylesheet" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-icon-114x114-precomposed.png" />
</head>
<body>
	<div class="container">
		<div class="center">
			<a href="/view" id="view" class="roundCorners" style="color: white; text-decoration: none; font-size: 50px;">view video stream</a>
		</div>
	</div>
	<a href="/broadcast" id="broadcast" style="opacity: 0; position: absolute; top: 0; right: 0; text-decoration: none; font-size: 5px;">configure broadcast</a>
</body>
</html>