<!DOCTYPE html>
<html>
<head>
  <title>OpenTreat</title>
  <meta charset="UTF-8" />
  <link href="/styles.css" rel="stylesheet" />
</head>
<body>
  <center>
    <br>
    <br>
    <video playsinline autoplay muted></video>
    <br><br><br>
    <img src="dropTreat.png" id="enable-audio" />
    <br><br>
    <img src="restartBroadcast.png" id="restart-broadcast" class="restartButtons" />
    <br><br>
    <img src="rebootPi.png" id="reboot-pi" class="restartButtons" />
  </center>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/watch.js"></script>
</body>
</html>