<!DOCTYPE html>
<html class="bgImage">
<head>
  <title>OpenTreat</title>
  <meta charset="UTF-8" />
  <link href="/styles.css" rel="stylesheet" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-icon-114x114-precomposed.png" />
</head>
<body>
  <br>
  <video playsinline autoplay muted></video>
  <img src="dropTreat.png" class="dropTreat" id="enable-audio" />
  <div class="restartButtonsContainer">
    <img src="restartBroadcast.png" id="restart-broadcast" class="restartButtons" style="float: left;" />
    <img src="rebootPi.png" id="reboot-pi" class="restartButtons" style="float: right;" />
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/watch.js"></script>
</body>
</html>