<!DOCTYPE html>
<html class="bgImage">
<head>
  <title>OpenTreat</title>
  <meta charset="UTF-8" />
  <link href="/styles.css" rel="stylesheet" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-icon-114x114-precomposed.png" />
</head>
<body>
  <section>
    <div class="video-container">
      <video class="video" playsinline autoplay muted></video>
    </div>
  </section>
  <div class="bottomContainer">
    <div class="restartButtonsContainer">
      <img src="restartBroadcast.png" id="restart-broadcast" class="restartButtons" style="float: left;" />
      <img src="rebootPi.png" id="reboot-pi" class="restartButtons" style="float: right;" />
    </div>
    <div class="dropTreatContainer">
      <img src="dropTreat.png" class="dropTreat" id="enable-audio" />
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/watch.js"></script>
  <iframe id="frame" src="" style="position: absolute; width:0;height:0;border: 0;border: none;"></iframe>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="videoSize.js"></script>
</body>
</html>