@media only screen and (min-width: 480px) {
  /* For desktops: */
  html {
    background-color: #02b9ff;
    overflow: hidden;
    height: 100%;
  }
  video {
    width: 50%;
    position: absolute;
    left: 5%;
    top: 5%;
    bottom: 5%;
  }
  .dropTreat {
    position: absolute;
    right: 5%;
    width: 33%;
  }
  ::placeholder {
      color: #02b9ff;
    }
  input#password {
      border: none;
      color: #02b9ff;
      font-size: 60px;
      text-align: center;
    }
  .container { 
    height: 100%;
    position: relative;
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .restartButtons {
    height: 90px;
    width: 90px;
  }
  .restartButtonsContainer {
    height: 90px;
    width: 90%;
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 2.5%;
  }
}

/* iPhone portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    html {
      background-color: #02b9ff;
      overflow: hidden;
      height: 100%;
    }
    video {
      width: 90%;
      position: absolute;
      left: 5%;
      right: 5%;
      top: 5%;
    }
    ::placeholder {
      color: white;
    }
    .dropTreat {
      position: absolute;
      width: 60vw;
      bottom: 15vh;
      left: 20vw;
    }
    input#password {
      background-color: #02b9ff;
      border: none;
      color: white;
      font-size: 60px;
      text-align: center;
    }
    .container { 
      height: 100%;
      position: relative;
    }
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .restartButtons {
      height: 120px;
      width: 120px;
    }
    .restartButtonsContainer {
      height: 120px;
      width: 90%;
      position: absolute;
      left: 5%;
      right: 5%;
      bottom: 5%;
    }
    .bgImage {
      background-image: url("viewBG.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    input[type="submit"] {
      background: none;
      color: white;
      border: none;
      padding: 0;
      font-size: 70px;
      cursor: pointer;
      outline: inherit;
    }
}