@media only screen and (max-width: 376px) {
  /* For mobile devices: */
  html {
    overflow: hidden;
    height: 100%;
  }
  video {width: 100%;}
  #dropTreat {width: 90%;}
}

@media only screen and (min-width: 377px) {
  /* For desktops: */
  html {
    overflow: hidden;
    height: 100%;
  }
  video {width: 50%;}
  #dropTreat {width: 50%;}
}