@media only screen and (min-width: 380px) {
  /* For desktops: */
  html {
    overflow: hidden;
    height: 100%;
  }
  video {width: 50%;}
  #dropTreat {width: 50%;}
  input#password {
      background-color: #575757;
      border: none;
      color: white;
      font-size: 60px;
      text-align: center;
    }
  .container { 
    height: 100%;
    position: relative;
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/* iPhone portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    html {
      overflow: hidden;
      height: 100%;
      background-image: url("viewBG.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    video {width: 90%;}
    #dropTreat {width: 90%;}
    input#password {
      background-color: #575757;
      border: none;
      color: white;
      font-size: 60px;
      text-align: center;
    }
    .container { 
      height: 100%;
      position: relative;
    }
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
}