<!DOCTYPE html>
<html>
<head>
  <title>OpenTreat</title>
  <meta charset="UTF-8" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-icon-114x114-precomposed.png" />
</head>
<body>
  <section class="select">
    <label for="audioSource">Audio source: </label>
    <select id="audioSource"></select>
  </section>

  <section class="select">
    <label for="videoSource">Video source: </label>
    <select id="videoSource"></select>
  </section>

  <video playsinline autoplay muted></video>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/securescript/broadcast.js"></script>
</body>
</html>
